.contenant {
  position: relative;
  text-align: center;
  color: black;
}

.texte_centrer {
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chiffres {

  color: rgb(56, 138, 192);
}

.imc {

padding-left: 0%;
}

.bouton_connexion {
  margin-left: 80%;
}

.sign_in_center {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}